<!--
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Alto Gamer YouTube jQuery Plugin</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="css/jquery-ag-youtube.css" rel="stylesheet">
    </head>
    <body>
        <h1>Alto Gamer YouTube jQuery Plugin</h1>

        <!-- This is the container where the plugin is going to be rendered. -->
        <div style="width: 700px">
            <div id="videos"></div>
        </div>


        <!-- This is a jsrender template used to render the videos.
             You can edit this template and customize it to your liking.
             Be sure to add css class "ag-youtube-video" to each youtube iframe,
             and "ag-youtube-thumb" to each thumbnail.
        -->
        <script id="agYouTubeVideosTemplate" type="text/x-jsrender">
            <div class="ag-youtube-videos">
                {{for videos}}
                    <iframe class="ag-youtube-video {{:#index==0 ? 'ag-youtube-selected' : ''}}" data-index="{{:#index}}" width="{{:#parent.parent.data.settings.width}}" height="{{:#parent.parent.data.settings.height}}" src="http://www.youtube.com/embed/{{>id}}?html5=1" frameborder="0" allowfullscreen></iframe>
                {{/for}}
            </div>

            <div class="ag-youtube-thumbs">
                {{for videos}}
                    <img class="ag-youtube-thumb {{:#index==0 ? 'ag-youtube-selected' : ''}}" data-index="{{:#index}}" src='{{>thumbnail.sqDefault}}' alt="{{>title}}" />
                {{/for}}
                <span class="ag-youtube-strech"></span>
            </div>
        </script>


        <!-- Load libraries... -->
        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="http://www.jsviews.com/download/jsrender.min.js"></script>
        <script src="js/jquery-ag-youtube.js"></script>


        <!-- Everything is set, just use the plugin!

             Most options are optional and have a default value.
               query: The query string to search in YouTube. You want to set this :)
               maxResults: how many results to fetch. Default: 4.
               jsrenderTemplateId: the id of a jsrender template to use when rendering results. Default: "agYouTubeVideosTemplate".
               width: the width of the video container. Default: 640.
               height: the height of the video container. Default: 480.
        -->
        <script>
            $(document).ready(function () {
                $("#videos").altogamerYouTube({
                    query: "Metro Last Light gameplay",
                    width: "100%"
                });
            });
        </script>
    </body>
</html>
